.borders {
  margin: 2em auto;
  width: 70em;
  height: 54em;
  border-radius: 1em;
  box-shadow: 0 0 5em 0.5em black;
}

#play-screen {
  margin: 2em auto;
  width: 50em;
  height: 50em;
  border-radius: 1em;
  /* box-shadow: 0 0 5em 0.5em black; */
}

#info-screen {
  margin: 1em auto;
  width: 20em;
  height: 15em;
  border-radius: 1em;
  /* box-shadow: 0 0 5em 0.5em black; */
}

#screen {
  margin-top: 1em;
}

.pixel {
  width: 1em;
  height: 1em;
  float: left;
  background-color: white;
}
